/* src/components/TopBar/SearchModal.css */
@import "../../styles/ModalCommon.css";

/* 오버레이는 공통 스타일 사용 */

/* 모달 컨텐츠: 하단에서 올라오는 전체 화면의 80% 높이 모달 */
.modal-content {
  width: 100%;
  height: 80%;
  position: absolute;
  bottom: 0;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* 제목 스타일 */
.modal-content > h2 {
  margin: 0;
  color: #000;
  text-align: left;
  padding-left: 10px;
  font-size: 2rem;
}

/* 검색 입력창 */
.search-input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #f4f3f5;
  color: #000;
}

/* 검색 버튼 */
.search-button {
  align-self: flex-end;
  width: 70px;
  padding: 10px;
  font-size: 1em;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #dfdde1;
}