/* nav태그 아래의 자식들을 수평 정렬하기 */
nav {
    overflow: hidden; /* float으로 인해 부모 높이가 0이 되는 문제 해결 */
}

/* nav태그 아래의 div태그들을 수평정렬 및 세로 길이 설정 */
nav > div {
    /* 수평 정렬, 5개의 button을 각각 20% width만큼 할당 */
    text-align: center;
    /* float : 주로 이미지 주변에 텍스트를 감싸기 위해 만들어진 프로퍼티 */
    float: left;
    width: 20%; 
    /* 세로 길이 설정 */
    height: 45px;
    line-height: 45px;
}